# dump data into mongodb atlas

In [11]:
# connection create
import pymongo
client = pymongo.MongoClient("mongodb+srv://Ranjit_singh:janejigar975919@learning.a5xc4jg.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db

Database(MongoClient(host=['ac-rqhiizk-shard-00-00.a5xc4jg.mongodb.net:27017', 'ac-rqhiizk-shard-00-02.a5xc4jg.mongodb.net:27017', 'ac-rqhiizk-shard-00-01.a5xc4jg.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12pn4e-shard-0', tls=True), 'test')

In [24]:
db = client['iris']
coll = db['setosa']

In [26]:

coll = db['versicolor']

In [27]:
coll = db['virginica']

In [12]:
import seaborn as sns
data = sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
data['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [15]:
setosa = data[data['species']== "setosa"]
setosa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
versicolor = data[data['species']== "versicolor"]
versicolor.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [18]:
virginica = data[data['species']== "virginica"]
virginica.head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

## dumped the all record of setosa species

In [25]:
for index , value in setosa.iterrows():
    json_record = {"sepal_len":value.sepal_length,
                "sepal_wid":value.sepal_width,
                "petal_len":value.petal_length,
                "petel_wid":value.petal_width}
    client.iris.setosa.insert_one(json_record)

## dumped the all record of versicolor species

In [28]:
for index , value in versicolor.iterrows():
    json_record = {"sepal_len":value.sepal_length,
                "sepal_wid":value.sepal_width,
                "petal_len":value.petal_length,
                "petel_wid":value.petal_width,
                "species":value.species}
    client.iris.versicolor.insert_one(json_record)

## dumped the all record of virginica species

In [29]:
for index , value in virginica.iterrows():
    json_record = {"sepal_len":value.sepal_length,
                "sepal_wid":value.sepal_width,
                "petal_len":value.petal_length,
                "petel_wid":value.petal_width,
                "species":value.species}
    client.iris.virginica.insert_one(json_record)

## now i will load data from the mongodb atlas

In [31]:
for item in client.iris.virginica.find():
    print(list(item),'\n')

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

['_id', 'sepal_len', 'sepal_wid', 'petal_len', 'petel_wid', 'species']

# Thank you 👍